<%= link_to "+ Add new figure", new_figure_path, class: "btn m-3"%>

<% @user_figures.each do |figure| %>
  <div class="card figure-card p-3 mb-3">
    <h6><strong>Figure ID #<%= figure.id %> - <%= figure.name %></strong> <em>(<%= figure.anime.title %>)</em></h6>
    <div class="d-flex align-items-center">
      <div class="image-container me-3" style="background-image: url(<%= figure.photos.any? ? cl_image_path(figure.photos.first.key) : image_path('logo.png')%>)"></div>
      <div class="figure-info">
        <p><%= figure.description %></p>
        <p>¥ <%= figure.price %></p>
        <p class="m-0"><strong>Delivery options:</strong></p>
        <% if figure.pick_up %>
          <p class="m-0"><i class="fa-regular fa-square-check"></i> Pick-up at <%= figure.pick_up_location %></p>
        <% end %>
        <% if figure.delivery %>
          <p><i class="fa-regular fa-square-check"></i> Delivery</p>
        <% end %>
        <div class="d-flex justify-content-between">
          <p class="text-muted"><em>Posted at <%= figure.created_at %></em></p>
          <%= link_to "Edit", new_figure_path, class: "btn m-3"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
