<% reviews.each do |review| %>
  <div class="card p-3 mb-3 bg-white">
    <div class="d-flex">
      <% review.rating.times do %>
        <h6><i class="fa-solid fa-star me-1 mb-3"></i></h3>
      <% end %>
    </div>
    <h4 class="font-weight-bold">Order#<%= review.order.id %> - <%= review.order.figure.name %></h4>
    <p class="card-text">"<%= review.comment %>"</p>

    <div class="reviewer-info d-flex">
      <% if review.reviewer.photo.attached? %>
        <%= cl_image_tag review.reviewer.photo.key, class: "avatar me-3" %>
      <% else %>
        <%= image_tag "logo.png", class: "avatar me-3" %>
      <% end %>
      <div>
        <p class="text-muted m-0"><%= review.order.buyer.username %></p>
        <p class="text-muted"><%= review.created_at.to_date %></p>
      </div>
    </div>
  </div>
<% end %>
