<<<<<<< HEAD
<% @animes.each do |anime| %>
<%= render 'shared/anime-category', anime: anime %>
<% end %>

<%= render 'shared/card-product' %>
=======
<div class="container">
  <h1>All Figures</h1>
  <div class="row">
    <% @figures.each do |figure| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <%= image_tag figure.photos.first, size: "200x200" if figure.photos.any? %>
            <h5 class="card-title"><%= figure.name %></h5>
            <p class="card-text">Price: <%= figure.price %></p>
            <p class="card-text">Description: <%= figure.description%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
>>>>>>> a6d777bf72a6248268e09e309464ea5f32766da4
