<div class="container">
  <h1><strong><%= @anime.title %></strong></h1>
  <h4><%= @figures.count %> Figures</h4>
  <div class="row">
    <% @figures.each do |figure| %>
      <div class="col-md-4">
        <div class="card mb-4 card-fixed-height">
          <div class="card-body">
            <!-- Image container for centering and styling -->
            <div class="card-image-container">
              <%= image_tag figure.photos.first, alt: figure.name if figure.photos.any? %>
            </div>
            <h5 class="card-title"><%= figure.name %></h5>
            <p class="card-text">Price: <%= figure.price %></p>
            <p class="card-text">Description: <%= truncate(figure.description, length: 100) %></p>
            <% unless figure.user == current_user %>
              <%= link_to 'Place Order', new_figure_order_path(figure), class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
